@model ArchitectureDecisionsWeb.Features.Home.ViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Decisions</h1>

    <hr/>

    <div>
        <ul class="list-inline">
            <li class="list-inline-item">
            </li>
        </ul>

    </div>

    @if (Model.Problems.Count == 0)
    {
        <p>No architecture decisions have been entered.</p>
    }
    else
    {
        <p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td></td>
                    <td>Problem Name</td>
                </tr>
                </thead>
                <tbody>
                @foreach (var decision in Model.Problems)
                {
                    <tr>
                        <td><a asp-controller="EditDecision" asp-action="Execute" asp-route-id="@decision.Id">Edit</a></td>
                        <td>@decision.DisplayName</td>
                    </tr>
                }
                </tbody>
            </table>
        </p>
    }
</div>
