@model ArchitectureDecisionsWeb.Features.EditDecision.ViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Decision.DisplayName</h2>

<hr/>

<div>

    <form asp-controller="SaveDecision" asp-action="Execute" method="POST">
        <div class="form-group">
            <label for="displayName">Display Name</label>
            <input id="displayName" name="displayName" type="text" class="form-control" value="@Model.Decision.DisplayName" placeholder="Decision Display Name">
        </div>

        <div class="form-group">
            <label for="problemStatement">Problem Statement </label>
            <input id="problemStatement" name="problemStatement" type="text" class="form-control" value="@Model.Decision.ProblemStatement" placeholder="Problem Statement">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>