@using Newtonsoft.Json
@using ArchitectureDecisionsCore
@model ArchitectureDecisionsWeb.Features.EditDecision.ViewModel

@{
    ViewBag.Title = Model.Decision.DisplayName;
    Layout = "_Layout";
}

<h2>@Model.Decision.DisplayName</h2>

<hr/>

<div>

    <form id="saveDecisionForm" asp-controller="DuplicateDecision" asp-action="Execute" method="POST">

        <input name="id" type="hidden" value="@Model.Decision.Id">

        <div id="decision_container"></div>

        <hr/>

        <button type="submit" class="btn btn-primary" id="saveButton">Save</button>
        <a class="btn btn-light" asp-controller="Home" asp-action="Execute">Back</a>

    </form>
    
</div>

@section Scripts
{
    <script type="text/javascript">
    window.decision = @Html.Raw(JsonConvert.SerializeObject(Model.Decision));
    </script>

    <script src="~/assets/index.js"></script>

    <script>

    function updateDecision(decision) {
        window.decision = decision;
    }
        
    document.getElementById('saveDecisionForm').addEventListener('submit', function (event) {
        event.preventDefault();
        event.stopPropagation();

        window.decision.happySave = null;

        //document.getElementById('saveButton').disabled = true;
        fetch(
            '@Url.Action("Execute", "SaveDecisionApi", new { id = Model.Decision.Id })',
            {
                method: 'POST',
                body: JSON.stringify(window.decision),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(r => {
                document.getElementById('saveButton').disabled = false;
                let btnClass = r.status === 200 ? 'btn-success' : 'btn-danger';
                document.getElementById('saveButton').className = `btn ${btnClass}`;
                window.setTimeout(function () {
                    document.getElementById('saveButton').className = 'btn btn-primary';
                }, 2000);
            });
    });
    </script>

}